<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Operator</title>
  <!-- <link rel="stylesheet" href="./views/style.css">  -->
</head>
<body>
  <style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #4caf50;
  }
  
  </style>
  <div class="container">
    <h1>Edit Operator</h1>
    <form class="update-operator-form" action="/operator/<%= operator._id %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= operator.name %>" required>
      <br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= operator.email %>" required>
      <br>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" value="<%= operator.phone %>" required>
      <br>
      <button type="submit">Update Operator</button>
    </form>
    <a href="/operator" class="back-link">Back to Operators</a>
  </div>
</body>
</html>
